################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SV22T1020149.Admin/Controllers/CustomerController.cs
