<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <h4>FashionHub</h4>
                <p>Mang phong cách đẳng cấp đến mọi nhà. Chất lượng dẫn đầu, xu hướng mới nhất.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Hỗ trợ</h4>
                <ul>
                    <li><i class="fas fa-chevron-right"></i> Trung tâm hỗ trợ</li>
                    <li><i class="fas fa-chevron-right"></i> Hướng dẫn mua hàng</li>
                    <li><i class="fas fa-chevron-right"></i> Chính sách đổi trả</li>
                    <li><i class="fas fa-chevron-right"></i> Vận chuyển & thanh toán</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Chính sách</h4>
                <ul>
                    <li><i class="fas fa-shield-alt"></i> Bảo mật thông tin</li>
                    <li><i class="fas fa-file-contract"></i> Điều khoản sử dụng</li>
                    <li><i class="fas fa-tag"></i> Chương trình thành viên</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Liên hệ</h4>
                <p><i class="fas fa-map-marker-alt"></i> 123 Đường Thời Trang, Q.1, TP.HCM</p>
                <p><i class="fas fa-phone-alt"></i> 1900 1234</p>
                <p><i class="far fa-envelope"></i> support@fashionhub.vn</p>
            </div>
        </div>
        <div class="copyright">
            © 2025 FashionHub - Trang thương mại điện tử thuần HTML/CSS. Mọi hình ảnh chỉ mang tính minh họa.
        </div>
    </div>
</footer>